{% extends "resource_lists/base.html" %}

{% block head_title %}
  {% if is_reading_list %}
    Reading List
  {% else %}
    Vocabulary List
  {% endif %}
{% endblock %}

{% block hero %}
  {% with owner=resource_list.owner %}
    <h1>{{ resource_list.title }} {% if owner %}({{ owner }}){% endif %}</h1>
  {% endwith %}
{% endblock %}

{% block resource_lists_body %}
  {% if not request.user.is_anonymous %}
    {% include "resource_lists/includes/_list_actions.html" %}
  {% endif %}

  {% if is_reading_list %}
    {% include "resource_lists/includes/_reading_list_detail.html" %}
  {% elif is_vocabulary_list %}
    {% include "resource_lists/includes/_vocabulary_list_detail.html" %}
  {% endif %}
{% endblock %}
