{% extends "site_base.html" %}

{% block head_title %}Reading Lists{% endblock %}

{% block body_base %}
  <section class="hero">
    <div class="container">
      <h1>Reading Lists</h1>
    </div>
  </section>

  <section>
    <div class="container">

      {% if all_lists %}
        <p>
          Show: <b>Public Reading Lists </b>
          {% if not request.user.is_anonymous %}
            | <a href="{% url 'user_reading_lists' request.user.pk %}">My Reading Lists</a>
          {% endif %}
        </p>
      {% else %}
        <p>
          Show: <a href="{% url 'reading_lists' %}">Public Reading Lists</a> | <b>My Reading Lists</b>
        </p>
      {% endif %}

      {% for resource_list in resource_lists %}
        <div class="text-group">
          <h4>
            <a href="{% url 'reading_list' resource_list.secret_key %}">
              {{ resource_list.title }}
            </a>
          </h4>

          <div class="row">
            <div class="col">
              <h5><tt>{{ resource_list.secret_key }}</tt></h5>
            </div>
            <div class="col-md-2">
              <a href="{% url 'reading_list' resource_list.secret_key %}" target="_blank">
                browse <i class="fa fa-external-link"></i>
              </a>
            </div>
          </div>
        </div>

      {% endfor %}
    </div>
  </section>
{% endblock %}
