{% extends "site_base.html" %}

{% block head_title %}Reading List{% endblock %}

{% block body_base %}
  <section class="hero">
    <div class="container">
      {% with owner=resource_list.owner %}
        <h1>{{ resource_list.title }} {% if owner %}({{ owner }}){% endif %}</h1>
      {% endwith %}
    </div>
  </section>

  <section>
    {% block messages %}{% include "_messages.html" %}{% endblock %}

    <div class="container">
      <div class="row justify-content-end">
        <div class="col-md-2">
          {% if user_is_subscribed %}
            <a href="{% url 'reading_list_subscribe' resource_list.secret_key %}">
              subscribe <i class="fa fa-external-link"></i>
            </a>
          {% else %}
            <a href="{% url 'reading_list_unsubscribe' resource_list.secret_key %}">
              unsubscribe <i class="fa fa-external-link"></i>
            </a>
          {% endif %}
        </div>
        <div class="col-md-1 align-self-end">
          <a href="{% url 'reading_list_clone' resource_list.secret_key %}">
            clone <i class="fa fa-external-link"></i>
          </a>
        </div>
      </div>
    </div>

{% endblock %}
