{% load query_help %}

<span class="step-links">
  {% if lemmas.number > 1 %}
    <a href="?{% query page=1 %}"><i class="fa fa-step-backward"></i></a>
  {% else %}
    <span class="text-muted"><i class="fa fa-step-backward"></i></span>
  {% endif %}
  {% if lemmas.has_previous %}
    <a href="?{% query page=lemmas.previous_page_number %}"><i class="fa fa-backward"></i></a>
  {% else %}
    <span class="text-muted"><i class="fa fa-backward"></i></span>
  {% endif %}

  <span class="current">
    page <b>{{ lemmas.number }}</b> of <b>{{ lemmas.paginator.num_pages }}</b>
  </span>

  {% if lemmas.has_next %}
    <a href="?{% query page=lemmas.next_page_number %}"><i class="fa fa-forward"></i></a>
  {% else %}
    <span class="text-muted"><i class="fa fa-forward"></i></span>
  {% endif %}
  {% if lemmas.number < lemmas.paginator.num_pages %}
    <a href="?{% query page=lemmas.paginator.num_pages %}"><i class="fa fa-step-forward"></i></a>
  {% else %}
    <span class="text-muted"><i class="fa fa-step-forward"></i></span>
  {% endif %}
</span>
