<span style="color: {% if item.ratio <= 0.00248 %}#A00{% else %}transparent{% endif %};">█</span>
<span style="color: {% if item.ratio <= 0.00674 %}#B22{% else %}transparent{% endif %};">█</span>
<span style="color: {% if item.ratio <= 0.0183 %}#C44{% else %}transparent{% endif %};">█</span>
<span style="color: {% if item.ratio <= 0.0498 %}#D66{% else %}transparent{% endif %};">█</span>
<span style="color: {% if item.ratio <= 0.135 %}#D88{% else %}transparent{% endif %};">█</span>
<span style="color: {% if item.ratio <= 0.368 %}#EAA{% else %}transparent{% endif %};">█</span>
<span style="color: #EEE;">█</span>
<span style="color: {% if item.ratio >= 2.72 %}#AEA{% else %}transparent{% endif %};">█</span>
<span style="color: {% if item.ratio >= 7.39 %}#8D8{% else %}transparent{% endif %};">█</span>
<span style="color: {% if item.ratio >= 20.1 %}#6D6{% else %}transparent{% endif %};">█</span>
<span style="color: {% if item.ratio >= 54.6 %}#4C4{% else %}transparent{% endif %};">█</span>
<span style="color: {% if item.ratio >= 148 %}#2B2{% else %}transparent{% endif %};">█</span>
<span style="color: {% if item.ratio >= 403 %}#0A0{% else %}transparent{% endif %};">█</span>
