{% extends "site_base.html" %}

{% load humanize %}

{% block head_title %}Editions List{% endblock %}

{% block body_base %}
  <section class="hero">
    <div class="container">
      <h1>Editions List</h1>
    </div>
  </section>

  <section>
    <div class="container">
      {% if core %}
        <p>
          Show: <a href="{% url 'editions_list' %}">Entire Corpus</a> | <b>Core Reading List</b>
        </p>
        <p>
          The <b>core reading list</b> is a composite of lists from
          Harvard, Yale, and Tufts (although includes entire works, not just selected passages)
        </p>
      {% else %}
        <p>
          Show: <b>Entire Corpus</b> | <a href="{% url 'editions_list' %}?core">Core Reading List</a>
        </p>
        <p>* indicates part of the core corpus</p>
      {% endif %}
      {% for text_group,editions in text_groups.items %}
        <div class="text-group">
          <h4>{{ text_group.1 }}</h4>
          {% for edition in editions %}
            <div class="row">
              <div class="col">
                <a href="{% url 'word_list' edition.cts_urn %}">{{ edition.work_label }}</a>{% if not core and edition.is_core %}*{% endif %}
              </div>
              <div class="col">
                <tt>{{ edition.cts_urn }}</tt>
              </div>
              <div class="col-md-1">
                <a href="{% url 'reader_redirect' edition.cts_urn %}" target="_blank">read <i class="fa fa-external-link"></i></a>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </section>
{% endblock %}
