{% extends "site_base.html" %}

{% load humanize %}

{% block head_title %}{{ object.text }}{% endblock %}

{% block body_base %}
  <section class="lemma-entry">
    <div class="container">
      <h1><span class="pk">{{ object.pk }}.</span> <span class="text">{{ object.text }}</span></h1>
      <div class="row">
        <div class="col">
          <div class="definition-list">
            {% for definition in object.definitions.all %}
              <div class="definition">
                <div class="shortdef">{{ definition.shortdef }}</div>
                <div class="source">{{ definition.source }}</div>
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="col">
          <table class="table table-sm">
            <thead>
              <tr><th>&nbsp;<th class="text-right">count<th class="text-right">freq. per 10K</tr>
            </thead>
            <tbody>
              <tr><th>core<td class="text-right">{{ object.core_count|intcomma }}<td class="text-right">{{ core_freq }}</tr>
              <tr><th>corpus<td class="text-right">{{ object.corpus_count|intcomma }}<td class="text-right">{{ corpus_freq }}</tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row">
        <div class="col-7">
          <h3>Editions by Text Group ({{ editions_count }})</h3>
          <p>* indicates part of the core corpus</p>
          <table class="table table-sm">
            <thead>
              <tr><th>work<th class="text-right">count<th class="text-right">freq.<th class="text-center">log ratio</tr>
            </thead>
            {% for text_group,editions in text_groups.items %}
              <tr><th colspan="4" class="text-group">{{ text_group.1 }}</th></tr>
              {% for edition in editions %}
                <tr{% if filter == edition.text_edition.cts_urn %} class="table-active"{% endif %}>
                  <td><a href="{% url 'lemma_detail' object.pk %}?filter={{ edition.text_edition.cts_urn }}">{{ edition.text_edition.work_label }}</a>{% if edition.text_edition.is_core %}*{% endif %}
                  <td width="10%" class="text-right">{{ edition.lemma_count|intcomma }}
                  <td width="10%" class="text-right">{{ edition.frequency }}
                  <td width="20%" class="frequency text-center" style="white-space: nowrap;">{% spaceless %}
                    {% if edition.ratio is not None %}
                      {% include "deep_vocabulary/_ratio.html" with item=edition %}
                    {% endif %}
                    {% endspaceless %}
                  </td>
                </tr>
              {% endfor %}
            {% endfor %}
          </table>
        </div>
        <div class="col">
          {% if filter %}
            <h3>Passages ({{ passages.count }} of {{ object.passages.count|intcomma }})</h3>
            <div class="card bg-light edition-card">
              <div class="card-body">
                <span class="pull-right"><a href="{% url 'lemma_detail' object.pk %}">remove</a></span>
                <h4 class="card-title"><a href="{% url 'word_list' filtered_edition.cts_urn %}">{{ filtered_edition.text_group_label }}, {{ filtered_edition.work_label }}</a></h4>
                <div class="card-text">
                  <p><tt>{{ filter }}</tt></p>
                  <a href="{% url 'reader_redirect' filter %}" target="_blank">read in Scaife Viewer <i class="fa fa-external-link"></i></a>
                </div>
              </div>
            </div>
            {% if passages.count < 1000 %}
              <table class="table table-sm">
                <thead>
                  <tr>
                    <th>passage
                    <th>&nbsp;
                    <th>count
                  </tr>
                </thead>
              {% for lemma_passage in passages.all %}
                <tr>
                  <th>
                    {{ lemma_passage.reference }}
                  </th>
                  <td class="text-center">
                    <a href="{% url 'word_list' lemma_passage.cts_urn %}">word list</a>
                    <span class="text-muted">|</span>
                    <a href="{% url 'reader_redirect' lemma_passage.cts_urn %}" target="_blank">read <i class="fa fa-external-link"></i></a>
                  </td>
                  <td class="text-right">
                    {{ lemma_passage.count }}
                  </td>
                </tr>
              {% endfor %}
            {% else %}
              <p>Too many to show.</p>
            {% endif %}
          {% else %}
            <h3>Passages ({{ object.passages.count|intcomma }})</h3>
            <p>Select a work on the left to show passages in that work containing
              <b>{{ object.text }}</b>.
          {% endif %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}
