{% extends "site_base.html" %}

{% load humanize %}

{% block head_title %}Lemma List{% if lemmas.number > 1 %} page {{ lemmas.number}}{% endif %}{% endblock %}

{% block body_base %}
  <section class="hero">
    <div class="container">
      <h1>Lemma List</h1>
    </div>
  </section>

  <section class="main">
    <div class="container">

      <div class="row" style="margin-bottom: 2em;">
        <div class="col-4" style="padding-top: 25px;">
          <form>
            <input type="text" class="form-control form-control-sm" name="q" value="{{ request.GET.q }}" placeholder="search (lemma or shortdef)">
            {% for k,v in request.GET.items %}
              {% if k != "page" and k != "q" %}<input type="hidden" name="{{ k }}" value="{{ v }}">{% endif %}
            {% endfor %}
          </form>
        </div>
        <div class="col-3 text-center" style="padding-top: 30px;">
          {% include "deep_vocabulary/_pagination.html" %}
        </div>
        <div class="col">
          <form style="background: #EEE; padding: 2px 10px 5px;">
            <div class="text-center" style="border-bottom: 1px solid #CCC; margin-bottom: 5px;">frequency filter <span class="text-muted">(per 10k)</span></div>
            <div class="form-row">
              <div class="col">
                <input type="radio" name="scope" value="corpus" id="corpus-scope">
                <label for="corpus-scope" style="font-size: 12px; margin: 0;">
                  <span></span>
                  corpus</label>
                <br>
                <input type="radio" name="scope" value="core" id="core-scope" checked>
                <label for="core-scope" style="font-size: 12px; margin: 0;">
                  <span></span>
                  core</label>
              </div>
              <div class="col" style="padding-top: 5px;">
                <input id="freq-filt-slider" type="text" name="freqrange" data-slider-value="{{ request.GET.freqrange }}"/>
                {% for k,v in request.GET.items %}
                  {% if k != "page" and k != "freqrange" and k != "scope"%}<input type="hidden" name="{{ k }}" value="{{ v }}">{% endif %}
                {% endfor %}
              </div>
              <div class="col text-right" style="padding-top: 5px;">
                <button class="btn btn-light">go</button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <table class="word-list table-sm table-striped">
        <thead>
          <tr>
            <th width="15%">word
            <th>shortdef
            <th class="text-right" width="10%">corpus count
            <th class="text-right" width="10%">core count
            <th class="text-right" width="10%">corpus freq.
            <th class="text-right" width="10%">core freq.
          </tr>
        </thead>
        {% for lemma in lemmas %}
          <tr{% if item.boosted %} class="table-info"{% endif %}>
            <th class="lemma_text"><a href="{% url 'lemma_detail' lemma.pk %}">{{ lemma.text }}</a>
            <td class="shortdef">{{ lemma.definitions.all.0.shortdef }}
            <td class="count">{{ lemma.corpus_count|intcomma }}
            <td class="count">{{ lemma.core_count|intcomma }}
            <td class="count">{{ lemma.frequencies.0 }}
            <td class="count">{{ lemma.frequencies.1 }}
          </tr>
        {% endfor %}
      </table>

      {% include "deep_vocabulary/_pagination.html" %}
    </div>
  </section>
{% endblock %}
