{% extends "site_base.html" %}

{% load humanize %}

{% block head_title %}{{ object.text }}{% endblock %}

{% block body_base %}
  <section class="lemma-entry">
    <div class="container">
      <h1><span class="pk">{{ object.pk }}.</span> <span class="text">{{ object.text }}</span></h1>
      <div class="row">
        <div class="col">
          <div class="definition-list">
            {% for definition in object.definitions.all %}
              <div class="definition">
                <div class="shortdef">{{ definition.shortdef }}</div>
                <div class="source">{{ definition.source }}</div>
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="col">
          <table class="table table-sm">
            <thead>
              <tr><th>&nbsp;<th class="text-right">count<th class="text-right">freq. per 10K</tr>
            </thead>
            <tbody>
              <tr><th>core<td class="text-right">{{ object.core_count|intcomma }}<td class="text-right">{{ core_freq }}</tr>
              <tr><th>corpus<td class="text-right">{{ object.corpus_count|intcomma }}<td class="text-right">{{ corpus_freq }}</tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row">
        <div class="col">
          <h3>Editions by Text Group ({{ editions_count }})</h3>
          <p>* indicates part of the core corpus</p>
          {% for text_group,editions in text_groups.items %}
            <div class="text-group">
              <h5>{{ text_group.1 }}</h5>
              {% for edition in editions %}
                <div{% if filter == edition.text_edition.cts_urn %} class="selected"{% endif %}>
                  <span class="badge badge-primary pull-right">{{ edition.count|intcomma }}</span>
                  <a href="{% url 'lemma_detail' object.pk %}?filter={{ edition.text_edition.cts_urn }}">{{ edition.text_edition.work_label }}</a>{% if edition.text_edition.is_core %}*{% endif %}
                </div>
              {% endfor %}
            </div>
          {% endfor %}
        </div>
        <div class="col">
          {% if filter %}
            <h3>Passages ({{ passages.count }} of {{ object.passages.count|intcomma }})</h3>
            <div class="card bg-light edition-card">
              <div class="card-body">
                <span class="pull-right"><a href="{% url 'lemma_detail' object.pk %}">remove</a></span>
                <h4 class="card-title"><a href="{% url 'word_list_by_work' filtered_edition.cts_urn %}">{{ filtered_edition.text_group_label }}, {{ filtered_edition.work_label }}</a></h4>
                <p class="card-text">{{ filter }}</p>
              </div>
            </div>
            {% if passages.count < 1000 %}
              {% for lemma_passage in passages.all %}
                <div class="passage">
                  <span class="badge badge-primary pull-right">{{ lemma_passage.count }}</span>
                  <a href="{% url 'word_list_by_ref' lemma_passage.text_edition.cts_urn lemma_passage.reference %}">
                    {{ lemma_passage.text_edition.work_label }}
                    <b>{{ lemma_passage.reference }}</b>
                  </a>
                </div>
              {% endfor %}
            {% else %}
              <p>Too many to show.</p>
            {% endif %}
          {% else %}
            <h3>Passages ({{ object.passages.count|intcomma }})</h3>
            <p>Select a work on the left to show passages in that work containing
              <b>{{ object.text }}</b>.
          {% endif %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}
