{% extends "site_base.html" %}

{% load humanize query_help %}

{% block head_title %}Lemma List{% if lemmas.number > 1 %} page {{ lemmas.number}}{% endif %}{% endblock %}

{% block body_base %}
  <section class="hero">
    <div class="container">
      <h1>Lemma List</h1>
    </div>
  </section>

  <section class="main">
    <div class="container">

      <p class="corpus-stats">
        <b>{{ corpus_total|intcomma }}</b> total tokens
        (<b>{{ core_total|intcomma }}</b> in <a href="{% url 'editions_list' %}?core">core reading list</a>)
      </p>

      <div class="row word-list-controls">
        <div class="col">
          {% include "deep_vocabulary/_search_form.html" %}
        </div>
        <div class="col">
          {% include "deep_vocabulary/_frequency_filter.html" %}
        </div>
      </div>

      <div class="row">
        <div class="col">
          {% include "deep_vocabulary/_pagination.html" %}
        </div>
        <div class="col text-right">
          lemmas <b>{{ lemmas.start_index }}&ndash;{{ lemmas.end_index }}</b>
          of <b>{{ lemma_count|intcomma }}</b>
        </div>
      </div>

      <table class="word-list table table-sm table-striped">
        <thead>
          <tr class="sortable">
            <th width="15%">
              {% if request.GET.o == "1" %}
                <a href="?{% query o="-1" page="" %}"><i class="fa fa-sort-asc"></i> word</a>
              {% elif request.GET.o == "-1" %}
                <a href="?{% query o="1" page="" %}"><i class="fa fa-sort-desc"></i> word</a>
              {% else %}
                <a href="?{% query o="-1" page="" %}"> word</a>
              {% endif %}
            </th>
            <th><span>shortdef</span>
            <th colspan=2 class="text-right" width="20%">
              {% if request.GET.o == "3" %}
                <a href="?{% query o="-3" page="" %}"><i class="fa fa-sort-asc"></i> corpus count (freq.)</a>
              {% elif request.GET.o == "-3" %}
                <a href="?{% query o="3" page="" %}"><i class="fa fa-sort-desc"></i> corpus count (freq.)</a>
              {% else %}
                <a href="?{% query o="-3" page="" %}">corpus count (freq.)</a>
              {% endif %}
            </th>
            <th colspan=2 class="text-right" width="20%">
              {% if request.GET.o == "2" %}
                <a href="?{% query o="-2" page="" %}"><i class="fa fa-sort-asc"></i> core count (freq.)</a>
              {% elif request.GET.o == "-2" %}
                <a href="?{% query o="2" page="" %}"><i class="fa fa-sort-desc"></i> core count (freq.)</a>
                {% elif not request.GET.o %}
                  <a href="?{% query o="2" page="" %}"><i class="fa fa-sort-desc"></i> core count (freq.)</a>
              {% else %}
                <a href="?{% query o="-2" page="" %}">core count (freq.)</a>
              {% endif %}
            </th>
          </tr>
        </thead>
        {% for lemma in lemmas %}
          <tr>
            <th class="lemma_text"><a href="{% url 'lemma_detail' lemma.pk %}">{{ lemma.text }}</a>
            <td class="shortdef">{{ lemma.definitions.all.0.shortdef }}
            <td class="count">{{ lemma.corpus_count|intcomma }}
            <td class="count">({{ lemma.frequencies.0 }})
            <td class="count">{{ lemma.core_count|intcomma }}
            <td class="count">({{ lemma.frequencies.1 }})
          </tr>
        {% endfor %}
      </table>

      <div class="text-right">
        {% include "deep_vocabulary/_pagination.html" %}
      </div>

    </div>
  </section>
{% endblock %}
