{% extends "site_base.html" %}

{% block body %}
  <div class="lemma-entry">
    <h1><span class="pk">{{ object.pk }}.</span> <span class="text">{{ object.text }}</span></h1>
    <div class="definition-list">
      {% for definition in object.definitions.all %}
        <div class="definition">
          <div class="shortdef">{{ definition.shortdef }}</div>
          <div class="source">{{ definition.source }}</div>
        </div>
      {% endfor %}
    </div>

    <h4>Passages ({{ object.passages.count }})</h4>
    {% if object.passages.count < 1000 %}
      {% for lemma_passage in object.passages.all %}
        <div>
          <span class="badge badge-dark">{{ lemma_passage.count }}</span>
          {{ lemma_passage.text_edition.text_group_label }},
          <a href="{% url 'word_list_by_ref' lemma_passage.text_edition.cts_urn lemma_passage.reference %}">
            <b>{{ lemma_passage.text_edition.work_label }}</b>
            {{ lemma_passage.reference }}
          </a>
        </div>
      {% endfor %}
    {% endif %}
  </div>
{% endblock %}
