{% extends "site_base.html" %}

{% load humanize query_help %}

{% block head_title %}{{ text_edition.text_group_label }}, {{ text_edition.work_label }}{% if ref %} {{ ref }}{% endif %}{% endblock %}

{% block body_base %}
  <section class="hero">
    <div class="container">
      <div class="row">
        <div class="col">
          <h2>
            {% if ref %}
              <a href="{% url 'word_list' text_edition.cts_urn %}">{{ text_edition.text_group_label }}, {{ text_edition.work_label }}{% if text_edition.is_core %}*{% endif %}</a> {{ ref }}
            {% else %}
              {{ text_edition.text_group_label }}, {{ text_edition.work_label }}{% if text_edition.is_core %}*{% endif %}
            {% endif %}
          </h2>
          <h1>Word List</h1>
        </div>
        <div class="col text-right">
          <div><tt>{{ cts_urn}}</tt></div>
          <div><a href="{% url 'reader_redirect' cts_urn %}" target="_blank">read in Scaife Viewer <i class="fa fa-external-link"></i></a></div>
        </div>
      </div>
    </div>
  </section>

  <section class="main">
    <div class="container">

      <div class="row word-list-controls">
        <div class="col">
          {% include "deep_vocabulary/_passage_citation_form.html" %}
        </div>
        <div class="col">
          {% include "deep_vocabulary/_frequency_filter.html" %}
        </div>
      </div>

      <div class="row">
        <div class="col">
          {% if lemmas.paginator %}
            {% include "deep_vocabulary/_pagination.html" %}
            <a style="margin-left: 1em" href="?{% query page='all' %}">SHOW ALL</a>
          {% else %}
            <a href="?{% query page=1 %}">PAGINATE</a>
          {% endif %}
        </div>
        <div class="col text-right">
          {% if lemmas.paginator %}
            <b>{{ lemmas.start_index }}&ndash;{{ lemmas.end_index }}</b>
          of <b>{{ lemma_count|intcomma }}</b> lemma{{ lemma_count|pluralize }};
          {% else %}
            <b>{{ lemma_count|intcomma }}</b> lemma{{ lemma_count|pluralize }};
          {% endif %}
          <b>{{ token_count|intcomma }}</b> token{{ token_count|pluralize }}
          {% if ref %}(<b>{{ work_total|intcomma}}</b> in work){% endif %}
        </div>
      </div>

      <table class="word-list table table-sm table-striped">
        <thead>
          <tr class="sortable">
            <th width="15%">
              {% if request.GET.o == "1" %}
                <a href="?{% query o="-1" page="" %}"><i class="fa fa-sort-asc"></i> word</a>
              {% elif request.GET.o == "-1" %}
                <a href="?{% query o="1" page="" %}"><i class="fa fa-sort-desc"></i> word</a>
              {% else %}
                <a href="?{% query o="-1" page="" %}"> word</a>
              {% endif %}
            </th>
            <th><span>shortdef</span></th>
            <th{% if not ref %} colspan=2{% endif %} class="text-right" width="12%">
              {% if request.GET.o == "5" %}
                <a href="?{% query o="-5" page="" %}"><i class="fa fa-sort-asc"></i> count{% if not ref %} (freq.){% endif %}</a>
              {% elif request.GET.o == "-5" %}
                <a href="?{% query o="5" page="" %}"><i class="fa fa-sort-desc"></i> count{% if not ref %} (freq.){% endif %}</a>
              {% else %}
                <a href="?{% query o="-5" page="" %}">count{% if not ref %} (freq.){% endif %}</a>
              {% endif %}
            </th>
            {% if ref %}
              <th colspan=2 class="text-right" width="14%">
                {% if request.GET.o == "6" %}
                  <a href="?{% query o="-6" page="" %}"><i class="fa fa-sort-asc"></i> work (freq.)</a>
                {% elif request.GET.o == "-6" %}
                  <a href="?{% query o="6" page="" %}"><i class="fa fa-sort-desc"></i> work (freq.)</a>
                {% else %}
                  <a href="?{% query o="-6" page="" %}">work (freq.)</a>
                {% endif %}
              </th>
            {% endif %}
            <th class="text-right" width="10%">
              {% if request.GET.o == "3" %}
                <a href="?{% query o="-3" page="" %}"><i class="fa fa-sort-asc"></i> corpus</a>
              {% elif request.GET.o == "-3" %}
                <a href="?{% query o="3" page="" %}"><i class="fa fa-sort-desc"></i> corpus</a>
              {% else %}
                <a href="?{% query o="-3" page="" %}">corpus</a>
              {% endif %}
            </th>
            <th class="text-right" width="10%">
              {% if request.GET.o == "2" %}
                <a href="?{% query o="-2" page="" %}"><i class="fa fa-sort-asc"></i> core</a>
              {% elif request.GET.o == "-2" %}
                <a href="?{% query o="2" page="" %}"><i class="fa fa-sort-desc"></i> core</a>
              {% else %}
                <a href="?{% query o="-2" page="" %}">core</a>
              {% endif %}
            </th>
            {% if not ref %}
              <th class="text-center" width="15%">
                {% if request.GET.o == "4" %}
                  <a href="?{% query o="-4" page="" %}"><i class="fa fa-sort-asc"></i> log&nbsp;ratio</a>
                {% elif request.GET.o == "-4" %}
                  <a href="?{% query o="4" page="" %}"><i class="fa fa-sort-desc"></i> log&nbsp;ratio</a>
                {% else %}
                  <a href="?{% query o="-4" page="" %}">log&nbsp;ratio</a>
                {% endif %}
              </th>
            {% endif %}
          </tr>
        </thead>
        {% for item in lemmas %}
          <tr>
            <th class="lemma_text"><a href="{% url 'lemma_detail' item.lemma_id %}?filter={{ text_edition.cts_urn }}">{{ item.lemma_text }}</a>
            <td class="shortdef">{{ item.shortdef }}
            <td class="count">{{ item.count|intcomma }}
            {% if not ref %}<td class="frequency">({{ item.frequency }}){% endif %}
            {% if ref %}
              <td class="count">{{ item.work_count|intcomma }}
              <td class="frequency">({{ item.work_frequency }})
            {% endif %}
            <td class="frequency">({{ item.corpus_frequency }})
            <td class="frequency">({{ item.core_frequency }})
            {% if not ref %}
            <td class="frequency text-center" style="white-space: nowrap;">{% spaceless %}
              {% if item.ratio is not None %}
                {% include "deep_vocabulary/_ratio.html" %}
              {% else %}
                <span class="text-muted">too few</span>
              {% endif %}
              {% endspaceless %}
            </td>
            {% endif %}
          </tr>
        {% endfor %}
      </table>

      <p>
        {% if lemmas.paginator %}
          {% include "deep_vocabulary/_pagination.html" %}
          <a style="margin-left: 1em" href="?{% query page='all' %}">SHOW ALL</a>
        {% else %}
          <a href="?{% query page=1 %}">PAGINATE</a>
        {% endif %}
      </p>

    </div>
  </section>
{% endblock %}
