{% extends "site_base.html" %}

{% block body_base %}
  <section class="hero">
    <div class="container">
      <h2>{{ text_edition.text_group_label }}, {{ text_edition.work_label }} {% if ref_prefix %}{{ ref_prefix }}{% endif %}</h2>
      <h1>Word List</h1>
    </div>
  </section>

  <section class="main">
    <div class="container">

      <p class="lead text-right">
        {{ vocabulary|length }} lemma{{ vocabulary|length|pluralize }};
        {{ token_total }} token{{ token_total|pluralize }}
      </p>

      <table class="word-list table table-sm table-striped">
        <thead>
          <tr>
            <th>word<th>shortdef<th class="text-right">count<th class="text-right">frequency
          </tr>
        </thead>
        {% for item in vocabulary %}
          <tr>
            <th class="lemma_text"><a href="{% url 'lemma_detail' item.lemma_id %}">{{ item.lemma_text }}</a>
            <td class="shortdef">{{ item.shortdef }}
            <td class="count">{{ item.count }}
            <td class="frequency">{{ item.frequency }}
          </tr>
        {% endfor %}
      </table>
    </div>
  </section>
{% endblock %}
