body {
  font-family: 'Noto Sans';
}

.lemma-entry {
  h1 {
    display: block;
    .pk {
      color: $gray-500;
      font-family: 'Noto Sans';
    }
    .text {
      font-weight: bold;
      font-family: 'Noto Serif';
    }
  }
  .definition {
    margin-bottom: 1em;
    .shortdef {
      font-family: 'Noto Serif';
      font-size: 16pt;
      line-height: 24pt;
      font-style: italic;
    }
    .source {
      font-family: 'Noto Sans';
      color: $gray-500;
      font-size: 10pt;
      line-height: 6pt;
    }
  }
}

.word-list {
  .lemma_text {
    font-weight: bold;
    font-family: 'Noto Serif';
    a {
      color: $black;
      &:hover {
        color: $perseus-red;
      }
    }
  }
  .shortdef {
    font-family: 'Noto Serif';
    font-size: 12pt;
    font-style: italic;
  }
  .count {
    font-family: 'Noto Sans';
    text-align: right;
  }
  .frequency {
    font-family: 'Noto Sans';
    text-align: right;
  }
}

section.hero {
  background: $perseus-red;
  color: $white;
  padding: 20px 0;
  margin-bottom: 20px;

  h1 {
    font-family: 'Noto Serif';
    font-size: 48px;
    font-style: italic;
  }

  h2 {
    font-family: 'Noto Serif';
    font-size: 28px;
    margin: 0;
    a {
      color: lighten($perseus-red, 30%);
      &:hover {
        text-decoration: none;
      }
    }
  }
}
section.main {
  padding: 1em 0;
}

div.text-group {
  margin-top: 1.5em;
  > div {
    margin-left: 2em;
    a {
      color: $black;
      &:hover {
        color: $perseus-red;
      }
    }
  }
}
div.passage {
  a {
    color: $black;
    &:hover {
      color: $perseus-red;
    }
  }
}
