body.home {
    .jumbotron {
        margin-bottom: 0;
    }
    .feature-columns {
        margin: 60px 0 0;
    }
    .icon {
        text-align: center;
    }
    .desc {
        margin: 20px 0;
    }
    .see-more {
        margin-top: 60px;
    }
}
