{% extends "site_base.html" %}

{% block head_title_base %}Greek Vocabulary Tool{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
  <main>
    <section class="jumbotron">
      <div class="container">
        <h1>Welcome to the<br><b>Greek Vocabulary Tool</b></h1>
      </div>
    </section>
    <section class="more-space">
      <div class="container">
        <h2 class="text-center">What can you <span class="text-muted">(and will you be able to)</span> do with this site?</h2>
        <div class="feature-columns">
          <div class="row">
            <div class="col">
              <div class="icon"><i class="fa fa-list fa-3x"></i></div>
              <div class="desc">
                <b>Generate word lists</b> with definitions for entire Greek works or
                specific passages.
              </div>
            </div>
            <div class="col">
              <div class="icon"><i class="fa fa-bar-chart fa-3x"></i></div>
              <div class="desc">
                <b>View statistics</b> on each word across the entire corpus
                <span class="text-muted">or user-defined subsets of text</span>.
              </div>
            </div>
            <div class="col text-muted">
              <div class="icon"><i class="fa fa-comments-o fa-3x"></i></div>
              <div class="desc">
                <b>Provide improvements</b> to
                the underlying data and contribute to open philology.
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 offset-md-2 text-muted">
              <div class="icon"><i class="fa fa-list-alt fa-3x"></i></div>
              <div class="desc">
                <b>Track your reading</b> and scaffold
                new texts with just the vocabulary help you need.
              </div>
            </div>
            <div class="col-md-4 text-muted">
              <div class="icon"><i class="fa fa-graduation-cap fa-3x"></i></div>
              <div class="desc">
                <b>Study vocabulary</b> with adaptive,
                spaced flashcards customized to your reading.
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="more-space">
      <div class="container">
        <p class="lead text-center">
          To get started, browse the
          <a href="{% url 'lemma_list' %}">Lemma List</a>
          or
          <a href="{% url 'editions_list' %}">Editions List</a>.
        </p>
      </div>
    </section>
    <section class="more-space">
      <div class="container">
        <h4>Acknowledgements</h4>
        <p>
          The texts covered here are all from the <a href="http://www.perseus.tufts.edu/hopper/">Perseus Digital Library</a>.
          They were <a href="https://github.com/gcelano/LemmatizedAncientGreekXML">lemmatized</a> by Giuseppe Celano and
          combined with short definitions from <a href="http://logeion.uchicago.edu">Logeion</a>, used with the generous permission of Helma Dik.
        </p>
        <p>
          This site is being developed by <a href="http://eldarion.com">Eldarion</a>, supported in part by the
            <a href="http://www.dh.uni-leipzig.de/">Humboldt Chair of Digital Humanities at the University of Leipzig</a>.
          </thead>
      </div>
    </section>
 </main>
{% endblock %}
